parrot-demo/.tooling-project/temp/parrot-demo-temp/parrot-demo.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
    xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
    xmlns:http="http://www.mulesoft.org/schema/mule/http"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
    http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
    http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
  <http:listener-config name="HTTP-Config" doc:name="HTTP Listener Config">
    <http:listener-connection host="0.0.0.0" port="${http.port}" />
  </http:listener-config>
  <configuration-properties file="mydata.properties" doc:name="Configuration properties" />

  <flow name="parrot-test-flow" >
    <http:listener path="/parrot" config-ref="HTTP-Config" doc:name="Listener" doc:id="kbclmt" />
    <set-payload value="Value from Code Builder Demo App, deployment SUCCESS...." doc:name="Set payload" doc:id="xsrvos"  />
    <logger doc:name="Logger" doc:id="otyynp" message="#[payload]"/>
    
  </flow>
    
    
        
</mule>